#root{
    margin: 100px auto;
    width: 100%;
    max-width: 500px;
    /* text-align: center; */
}
.todoForm{
    padding: 20px;
    background-color: #a7a7a7;
}
.todoForm input{
    width: 300px;
    height: 25px;
}

.todoForm button{
    width: 100px;
    margin-left: 20px;
    height: 30px;
    color: black;
    background: #fff;
    border: none;
    border-radius: 4px;
}

.listItem .item{
    padding : 5px;
}
.listItem{
    background-color: #ececec;
}

.todoFooter{
    padding: 11px;
    background-color: #a7a7a7;
}

.todoFooter button{
    float: right;
    margin-left: 20px;
    height: 23px;
    color: black;
    background: #fff;
    border: none;
    border-radius: 4px;
}